matplotlib==3.7.1
matplotlib-inline==0.1.6
matplotlib-venn==0.11.9
numba==0.58.1
numpy==1.22.4
pandas==1.5.3
pathlib==1.0.1
requirements-parser==0.5.0
scikit-base==0.4.5
scikit-image==0.19.3
scikit-learn==1.2.2
scipy==1.10.1
sklearn-pandas==2.2.0
sktime==0.19.1

